*.pyc
.ipynb_checkpoints
.temp_env
temp_env
python_env
.nest.lock
nest.lock
.cache

# temporary
/requirements**
.virtualenvs
src
.piper
mrpiper.egg-info
build**
.vscode**
dist**
temp**
node_modules
package.json
yarn.lock

Pipfile
Pipfile.lock
